.DS_Store
projects/Capstone Project/1. Lightning Talk #1/data/PS_20174392719_1491204439457_log.csv
projects/Capstone Project/1. Lightning Talk #1/data/2015-street-tree-census-tree-data.csv
projects/Capstone Project/1. Lightning Talk #1/data/recipes.csv
